* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(75, 75, 75);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;
}
body{
  background-color: rgb(255, 255, 255);
  border: none;
}
